#pixelArt {
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.pixel {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}