#pixelArt {
    width: 500px;
    /* 25 pixels * 15px de largura */
    height: 500px;
    /* 25 pixels * 15px de altura */
    display: grid;
    grid-template-columns: repeat(25, 20px);
    /* Largura fixa de 15px para cada coluna */
    grid-template-rows: repeat(25, 20px);
    /* Altura fixa de 15px para cada linha */
}

.pixel {
    box-sizing: border-box;
    /* Include border in width and height */
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}